body {
  background-color: #000;
  color: rgb(114, 184, 10);
  text-align: center;
}
h1 {
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}
.down {
  color: aquamarine;
  font-size: 16px;
}
video {
  margin: 0 auto;
}
.guide {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: #fff;
}
.interest-points {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
  color: grey;
}
footer {
  color: rgba(127, 255, 212, 0.151);
  text-align: end;
  padding: 20px;
  margin: 20px;
}